/* Reset */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


/* Colours */

:root{

    --main-background: #EEE1C5;
    --lighter-background: #F7F2E8;
    --dark-blue: #28324A;
    --dark-brown: #6C4739;
    --brown: #986D5D;
    --blue: #41517A;
    --searchbar: #E0CB9E;
    --text: black;
    --sidebar: #EEE1C5;

}


/* Body */

body{

    min-height:100vh;
    background-color:var(--main-background);
    color:var(--text);
    font-family: "Poppins", sans-serif;

}

main{

    background-color: #EEE1C5;

    display: flex;

    flex-direction: column;

    justify-content: center;

    align-items: center;

    min-height:100vh;
}

#logo{

    width: 40vw;

    max-width: 430px;

    height: auto;

    margin-bottom: 20px;

}

#start-button{

    background-color: #28324A;

    padding: 12px 25px;

    border-radius: 10px;

    border: none;

    cursor: pointer;

    color: white;

    font-size: medium;

    transition: 0.3s;

    width: 285px;

    height: 54px;

}

#start-button:hover{

    background-color: #41517A;
}